.input {
  border: var(--nextui-border-width-medium) solid
    hsl(
      var(--nextui-default-200) /
        var(--nextui-default-200-opacity, var(--tw-border-opacity))
    );
  @apply bg-transparent;
  @apply text-foreground-500;
  @apply transition;
  @apply duration-150;
  @apply rounded-medium;
  @apply border-medium;
  @apply border-default-200;
  @apply hover:border-default-400;
  @apply focus:border-default-foreground;
  @apply text-small;
}

.button {
  @apply transition-transform;
  @apply transition-transform-colors-opacity;
  @apply bg-primary;
  @apply rounded-medium;
  @apply border-none;
  @apply active:scale-[0.97];
  @apply hover:opacity-hover;
  @apply text-primary-foreground;
  @apply rounded-full;
}

.mdx-editor {
  /* My var */
  --foreground: hsl(
    var(--nextui-foreground-500) /
      var(--nextui-foreground-500-opacity, var(--tw-text-opacity))
  );

  --foreground-contrast: hsl(
    var(--nextui-foreground) /
      var(--nextui-foreground-opacity, var(--tw-text-opacity))
  );

  --separator: hsl(
    var(--nextui-foreground-200) /
      var(--nextui-foreground-200-opacity, var(--tw-text-opacity))
  );

  --baseBg: hsl(
    var(--nextui-content1) /
      var(--nextui-content1-opacity, var(--tw-bg-opacity))
  );

  --baseBgActive: transparent;
  --baseTextContrast: var(--foreground-contrast);
  --baseText: var(--foreground);
  --baseBase: var(--separator);
  --baseBorder: var(--separator);
  --basePageBg: hsl(
    var(--nextui-default-100) / var(--nextui-default-100-opacity, 360)
  );
  --baseBgHover: hsl(var(--nextui-default) / 0.4);

  /* Выделение */
  --focus-cursor: hsl(
    var(--nextui-default) /
      var(--nextui-default-opacity, var(--tw-text-opacity))
  );
  --focus-cursor-selectionMatch: hsl(
    var(--nextui-default-500) /
      var(--nextui-default-500-opacity, var(--tw-text-opacity))
  );
}

.ͼ1v .cm-gutter.cm-lineNumbers {
  font-size: 0.875em;
}

/* Расцветка кода для блока кода */
.light {
  --sp-syntax-color-plain: var(--tw-prose-invert-pre-code) !important;
  --sp-font-size: 0.875em !important;
}

/* Расцветка кода для блока кода */
.cm-content {
  --sp-syntax-color-comment: var(--tw-prose-pre-code);
  --sp-syntax-color-plain: var(--tw-prose-pre-code);
  --sp-syntax-color-keyword: var(--tw-prose-pre-code);
  --sp-syntax-color-tag: var(--tw-prose-pre-code);
  --sp-syntax-color-punctuation: var(--tw-prose-pre-code);
  --sp-syntax-color-definition: var(--tw-prose-pre-code);
  --sp-syntax-color-property: var(--tw-prose-pre-code);
  --sp-syntax-color-static: var(--tw-prose-pre-code);
  --sp-syntax-color-string: var(--tw-prose-pre-code);
  @apply text-white;
}

.cm-lineWrapping {
  @apply text-foreground;
}

/* -------------------- Блок кода -------------------- */
.sp-pristine {
  background-color: var(--tw-prose-pre-bg);
  border: none;
}

.mdxeditor .sp-wrapper {
  border: none;
}

.cm-editor,
.ͼo .cm-activeLineGutter,
.ͼ2 .cm-activeLineGutter,
.ͼo .cm-activeLine,
.ͼ2 .cm-activeLine,
.cm-activeLineGutter {
  background-color: transparent;
  @apply text-inherit;
}

.ͼo .cm-gutters {
  color: var(--foreground-contrast);
}

/* --------------------Выделение-------------------- */
.ͼ2.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground {
  background-color: var(--focus-cursor);
}

.ͼo.cm-focused .cm-selectionBackground,
.ͼo .cm-selectionBackground,
.ͼo .cm-content ::selection {
  background-color: var(--focus-cursor);
}

.ͼo.cm-focused .cm-selectionBackground,
.ͼo .cm-selectionBackground,
.ͼo .cm-content ::selection {
  background-color: var(--focus-cursor);
}

.ͼo .cm-selectionMatch {
  background-color: var(--focus-cursor-selectionMatch);
}

.ͼ2 .cm-selectionBackground {
  background-color: var(--focus-cursor);
}

/* -------------------- Всплывающие окна -------------------- */
div[data-radix-popper-content-wrapper] {
  --basePageBg: hsl(var(--nextui-content2) / var(--nextui-bg-opacity, 360));
  --baseText: hsl(var(--nextui-content2) / var(--nextui-bg-opacity, 360));
  @apply subpixel-antialiased;
}

/* -------------------- Диалоговое окно добавления ссылки -------------------- */
input[name='url']:not([data-slot='input']),
input[id='link-title']:not([data-slot='input']) {
  @apply input;
}

label[for='link-url'],
label[for='link-title'] {
  @apply text-small;
}

button[aria-label='Set URL'],
button[aria-label='Cancel change'] {
  @apply button;
}

button[aria-label='Cancel change'] {
  @apply bg-default;
  @apply text-default-foreground;
}

/* -------------------- Диалоговое окно добавления картинки -------------------- */
button[aria-label='Save'],
button[aria-label='Cancel'] {
  @apply button;
}
button[aria-label='Cancel'] {
  @apply bg-default;
  @apply text-default-foreground;
}

label[for='file'],
input[name='file']:not([data-slot='input']) {
  @apply hidden;
}

label[for='src'] {
  visibility: hidden;
}
label[for='src']:after {
  @apply absolute;
  @apply block;
  @apply -mt-4;
  @apply subpixel-antialiased;
  visibility: visible;
  content: 'Add a link to the image';
  @apply text-small;
}

label[for='title'],
label[for='alt'] {
  @apply text-small;
}

input[name='src']:not([data-slot='input']),
input[name='altText']:not([data-slot='input']),
input[name='title']:not([data-slot='input']) {
  @apply input;
}
